# https://docs.github.com/en/code-security/dependabot

version: 2
updates:
  # Check for GitHub Actions updates every week
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "withabound/api-team"

  # Check for npm package updates every week
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "withabound/api-team"
